rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para el perfil del usuario
    match /usuarios/{userId} {
      // Permitimos crear si estás autenticado
      allow create: if request.auth != null;
      // Permitimos leer, editar o borrar solo si es TU propio documento
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Reglas para las puntuaciones de los exámenes
    match /userScores/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
    }
  }
}